<div class="welcome">
  <span class="welcome-text">
    My Workouts
  </span>
</div>

<div class="switch round view-switch">
  <p>Calendar View</p>
  <span class='mon'>Month</span>
  <input id="on-off" type="checkbox">
    <label for="on-off">
      <span class="switch-on"></span>
      <span class="switch-off"></span>
  </label>
  <span class='wee'>Week</span>
</div>

<div class="calendar-div month">
  <%= month_calendar events: @workouts do |date, workouts| %>
    <%= date.day %><br>

    <% if workouts.empty? %>
      <div class="add-workout">
        <%= link_to "Add Workout", "#",
          class: 'add-workout-link',
          id: "#{date}",
          "data-reveal-id" => "day-modal" %>
      </div>
    <% end %>

    <% workouts.each do |workout| %>
      <div>
        <%= workout.notes %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="calendar-div week">
  <%= week_calendar events: @workouts do |date, workouts| %>
    <%= date.day %>

    <% if workouts.empty? %>
      <div class="add-workout">
        <%= link_to "Add Workout", "#",
          class: 'add-workout-link',
          id: "#{date}",
          "data-reveal-id" => "day-modal" %>
      </div>
    <% end %>

    <% workouts.each do |workout| %>
      <div>
        <%= workout.notes %>
      </div>
    <% end %>
  <% end %>
</div>

<div id="day-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Add a workout</h2>
  <%= render "form", exercises: @exercises %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<%= javascript_include_tag "calendar" %>
