<li>
  <ul>
    <li><%= exercise.name %></li>
    <li><%= image_tag "exercise_gifs/#{exercise.gif}" %></li>
    <li><%= exercise.ex_type %></li>
    <li><%= exercise.difficulty %></li>
    <li><%= exercise.description %></li>
  </ul>
</li>
