<li>
  <%= link_to exercise_path(exercise) do %>
    <div class="bordered-grid">
      <ul>
        <li class="li-name"><%= exercise.name %></li>
        <li><%= image_tag exercise.gif %></li>
        <li class="li-type">Type</li>
        <li><%= exercise.ex_type %></li>
        <li><div class="description"><%= exercise.description %></div></li>
        <li class="li-source">
          source:
          <%= link_to exercise.source, "http://#{exercise.source}", target: '_blank' %>
        </li>
      </ul>
    </div>
  <% end %>
</li>
